<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <title>Chatting Room</title>
</head>
<body>
  <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
  <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
  <button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기</button>

  <div>
    <span>메세지</span>
    <div class="msgArea"></div>
  </div>
</body>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script th:inline="javascript">
  let socket = new WebSocket("ws://localhost:8080/ws/chat");

  socket.onopen = function(e) {
    console.log('open server!')
    enterRoom(socket);
  }
  socket.onclose = function(e) {
    console.log('disconnect');
  }
  socket.onerror = function(e) {
    console.log(e);
  }

  socket.onmessage = function(e) {
    console.log(e.data);
    let msgArea = document.querySelector('.msgArea');
    let newMsg = document.createElement('div');
    newMsg.innerText = e.data;
    msgArea.append(newMsg);
  }

  function enterRoom(socket) {
    var enterMsg = {
        type : "ENTER",
        roomId : [[${room.roomId}]],
        sender : "test"
    };

    socket.send(JSON.stringify(enterMsg));
  }

  function sendMsg() {
    let content = document.querySelector('.content').value;
    var talkMsg = {
        type : "TALK",
        roomId : [[${room.roomId}]],
        sender : "test",
        message : content
    };

    socket.send(JSON.stringify(talkMsg));
  }

  function quit() {
    var quitMsg = {
        type : "QUIT",
        roomId : [[${room.roomId}]],
        sender : "test"
    };

    socket.send(JSON.stringify(quitMsg));
    location.href = "/chat/chatList";
  }
</script>
</html>