<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/chat/chat.css">
    <title>Chat List</title>
</head>
<body>
<th:block th:replace="~{fragments/common :: memberNavi(${email}, ${profile})}"></th:block>
    <div class="container">
        <div id="notification-banner" class="alert alert-info d-none position-fixed top-0 end-0 m-3" role="alert">
            <span id="notification-message">새 알림</span>
            <button type="button" class="btn-close" aria-label="Close">닫기</button>
        </div>
        <div class="room" th:each="room : ${roomList}">
            <div th:if="${#lists.size(member[room.roomId]) == 1}" class="room" th:onclick="fnClick([[${room.roomId}]])">
                <img th:src="${member[room.roomId][0].profile}" class="profile">
                <div class="text">
                    <label th:text="${member[room.roomId][0].name}" class="chatname"></label>
                    <label th:text="${room.lastMessage}"></label>
<!--                    <label th:if="${#strings.equals(room.messages[room.messages.size-1].type, 'IMAGE')}" th:text="'사진을 보냈습니다'"></label>-->
<!--                    <label th:unless="${#strings.equals(room.messages[room.messages.size-1].type, 'IMAGE')}" th:text="${room.messages[room.messages.size-1].message}"></label>-->
                </div>
            </div>
            <div th:if="${#lists.size(member[room.roomId]) == 2}" class="room" th:onclick="fnClick([[${room.roomId}]])">
                <div class="profile-div">
                    <img th:src="${member[room.roomId][0].profile}" class="profile2">
                    <img th:src="${member[room.roomId][1].profile}" class="profile2">
                </div>
                <div class="text">
                    <label th:text="${member[room.roomId][0].name} + ' ' + ${member[room.roomId][1].name}" class="chatname"></label>
                    <label th:text="${room.lastMessage}"></label>
                </div>
            </div>
            <div th:if="${#lists.size(member[room.roomId]) == 3}" class="room" th:onclick="fnClick([[${room.roomId}]])">
                <div class="profile-div">
                    <img th:src="${member[room.roomId][0].profile}" class="profile3">
                    <img th:src="${member[room.roomId][1].profile}" class="profile3">
                    <img th:src="${member[room.roomId][2].profile}" class="profile1">
                </div>
                <div class="text">
                    <label th:text="${member[room.roomId][0].name} + ' ' + ${member[room.roomId][1].name} + ' ' + ${member[room.roomId][2].name}" class="chatname"></label>
                    <label th:text="${room.lastMessage}"></label>
                </div>
            </div>
            <div th:if="${#lists.size(member[room.roomId]) >= 4}" class="room" th:onclick="fnClick([[${room.roomId}]])">
                <div class="profile-div">
                    <img th:src="${member[room.roomId][0].profile}" class="profile3">
                    <img th:src="${member[room.roomId][1].profile}" class="profile3">
                    <img th:src="${member[room.roomId][2].profile}" class="profile3">
                    <img th:src="${member[room.roomId][3].profile}" class="profile3">
                </div>
                <div class="text">
                    <label th:text="${member[room.roomId][0].name} + ' ' + ${member[room.roomId][1].name} + ' ' + ${member[room.roomId][2].name} + ' ' + ${member[room.roomId][3].name}" class="chatname"></label>
                    <label th:text="${room.lastMessage}"></label>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/chat/list.js"></script>
    <script src="/js/common/common.js"></script>
</body>
<footer>
    <div class="card">
        <div class="card-body text-center">
            <p class="card-text"><small class="text-muted">Copyright Park Kwanwoo. All Rights Reserved.</small></p>
        </div>
    </div>
</footer>
</html>