<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <title>Chatting Room</title>
</head>
<body>
    <div>
        <span>메세지</span>
        <div class="msgArea">
            <ul class="list-group-flush">
                <li class="list-group-item" th:each="list, index : ${message.list}">
                    <span>
                        <span th:text="${list.sender}"></span>
                        <pre th:text="${list.message}"></pre>
                    </span>
                </li>
            </ul>
        </div>
        <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
        <button type="button" value="전송" class="btn btn-primary" onclick="sendMsg()">전송</button>
        <button type="button" value="방나가기" class="btn btn-danger" onclick="quit()">방 나가기</button>
    </div>
</body>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script th:inline="javascript">
  let socket = new WebSocket("ws://localhost:8080/ws/chat");
  let roomId = [[${room.roomId}]];
  let member = [[${member.name}]];
  let email = [[${member.email}]];
  let flag = [[${flag}]];

  socket.onopen = function(e) {
    console.log('open server!')
    console.log(flag)
    if (flag)
        enterRoom(socket);
  }
  socket.onclose = function(e) {
    console.log('disconnect');
  }
  socket.onerror = function(e) {
    console.log(e);
  }

  socket.onmessage = function(e) {
    const json = JSON.parse(e.data);
    let msgArea = document.querySelector('.list-group-flush');

    let newMsgLi = document.createElement('li');
    let newMsgArea = document.createElement('span');
    let name = document.createElement('span');
    let newMsg = document.createElement('pre');

    newMsgLi.className = "list-group-item";
    name.innerText = json.sender;
    newMsg.innerText = json.message;

    newMsgArea.append(name);
    newMsgArea.append(newMsg);

    newMsgLi.append(newMsgArea);

    msgArea.append(newMsgLi);

    window.scrollTo(0, document.body.scrollHeight);
  }

  function enterRoom(socket) {
    var enterMsg = {
        type : "ENTER",
        roomId : roomId,
        sender : member,
        email : email
    };

    socket.send(JSON.stringify(enterMsg));
  }

  function sendMsg() {
    let content = document.querySelector('.content').value;
    document.querySelector('.content').value = null;
    var talkMsg = {
        type : "TALK",
        roomId : roomId,
        sender : member,
        email : email,
        message : content
    };

    socket.send(JSON.stringify(talkMsg));
  }

  function quit() {
    var quitMsg = {
        type : "QUIT",
        roomId : roomId,
        sender : member,
        email : email
    };

    socket.send(JSON.stringify(quitMsg));
    location.href = "/chat/chatList";
  }
</script>
</html>