<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Administrator View</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <style>
    .text {
      font-size: 20px;
    }
    .annotation {
      color: gray;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Forbidden word apply list</h1>
  <button type="button" id="changeExamine">Change to Examine</button>
  <button type="button" id="changeApproval">Change to Approval</button>
  <div th:each="list : ${list}">
    <div class="text">
      <input type="checkbox" th:id="'check' + ${list.id}" tH:onclick="fnCheck([[${list.id}]])">
      <label class="form-label">Word: </label>
      <label class="form-label" th:text="${list.word}"></label>
    </div>
    <div class="annotation">
      <label>Status: </label>
      <label th:text="${list.Status}"></label>
      <label>Risk: </label>
      <label th:text="${list.risk}"></label>
    </div>
    <hr>
  </div>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/admin/forbiddenWordApplyList.js"></script>
</body>
</html>