<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Administrator View</title>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common/common.css">
  <style>
    .text {
      font-size: 20px;
    }
    .annotation {
      color: gray;
    }
  </style>
</head>
<body th:classappend="${isMobile} ? 'mobile-view' : ''">
<div class="container">
  <h1>Forbidden word list</h1>
  <button type="button" id="btn" class="btn btn-success">Forbidden word upload</button>
  <div id="uploadDiv" style="display: none;">
    <input type="text" class="form-control" id="word" name="word" placeholder="Input forbidden word">
    <label for="risk">위험도 선택</label>
    <select id="risk">
      <option value="HIGH">High</option>
      <option value="MIDDLE">Middle</option>
      <option value="LOW">Low</option>
    </select>
  </div>
  <hr>
  <div th:each="list : ${list}">
    <div class="text">
      <label class="form-label">Word: </label>
      <label class="form-label" th:text="${list.word}"></label>
    </div>
    <div class="annotation">
      <label>Status: </label>
      <label th:text="${list.Status}"></label>
      <label>Risk: </label>
      <label th:text="${list.risk}"></label>
    </div>
    <hr>
  </div>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/admin/forbiddenWordList.js"></script>
</body>
</html>
