html {
    scroll-behavior: smooth;
}

.favorite-list-page h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-list-page .container {
    height: 700px;
    overflow: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
