<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Favorite List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<style>
    html {
      scroll-behavior: smooth;
    }
    h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        height: 400px;
        overflow: auto;
        padding: 10px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
</style>
<body>
<div>
  <h4>좋아요 누른 사람들</h4>
    <div class="container">
      <ul class="list-group-flush">
        <li class="list-group-item" th:each="list,index : ${favorites}">
          <span>
            <span th:text="${index.index+1}"></span>
            <img th:src="@{/img/} + ${list.member.profile}" width="30vw" height="30vw" style="border-radius: 90px" id="profile">
            <a th:href="@{/member/search/detail(email=${list.member.email})}">
              <span th:text="${list.member.name}"></span>
            </a>
            <span th:text="${list.member.email}"></span>
            <div class="float-right" th:unless="${#strings.equals(list.member.email, email)}">
              <button type="button" th:id="'follow' + ${list.id}" th:if="${following[list.id]}" class="btn btn-success" th:onclick="fnFollow([[${list.id}]], [[${list.member.email}]])">Unfollow</button>
              <button type="button" th:id="'follow' + ${list.id}" th:unless="${following[list.id]}" class="btn btn-success"th:onclick="fnFollow([[${list.id}]], [[${list.member.email}]])">Follow</button>
            </div>
          </span>
        </li>
      </ul>
    </div>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/favorite/list.js"></script>
</body>
<footer>
  <div class="card">
    <div class="card-body text-center">
      <p class="card-text"><small class="text-muted">Copyright Park Kwanwoo. All Rights Reserved.</small></p>
    </div>
  </div>
</footer>
</html>