<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Favorite List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<style>
    html {
      scroll-behavior: smooth;
    }
    h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        height: 400px;
        overflow: auto;
        padding: 10px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
</style>
<body>
<div>
  <h4>좋아요 누른 사람들</h4>
    <div class="container" th:attr="data-board-id=${boardId},data-member-email=${email}">
      <ul class="list-group-flush" id="favoriteList"></ul>
    </div>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/favorite/list.js"></script>
</body>
<footer>
  <div class="card">
    <div class="card-body text-center">
      <p class="card-text"><small class="text-muted">Copyright Park Kwanwoo. All Rights Reserved.</small></p>
    </div>
  </div>
</footer>
</html>
