<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kwanwoo Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/board/main.css">
</head>
<body>
    <th:block th:replace="fragments/board-common :: boardNavi(${email}, ${profile})"></th:block>
    <div class="container">
        <th:block th:replace="fragments/board-common :: notificationBanner"></th:block>
    </div>
    <!--부트스트랩 js, jquery 추가-->
	    <script src="/js/lib/jquery.min.js"></script>
	    <script src="/js/lib/bootstrap.min.js"></script>
	    <script src="/js/board/common-actions.js"></script>
	    <script src="/js/board/main.js"></script>
	    <script src="/js/common/common.js"></script>
</body>
<th:block th:replace="fragments/board-common :: pageFooter"></th:block>
</html>
