<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Board List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Board View</h1>
		<form id="frm" method="post">
			<input type="hidden" name="id" th:value="${info.id}">
			<div class="float-right">
				<button type="button" class="btn btn-success" onclick="javascript:location.href='/book/list'">Previous</button>
				<button type="button" id="delete" class="btn btn-danger" th:onclick="fnViewDelete()">Delete</button>
			</div>
			<div class="mb-3">
			    <label class="form-label">Title</label>
			    <input type="text" class="form-control" id="title" name="title" th:value="${info.title}">
			</div>
			<div class="mb-3">
		    	<label class="form-label">Content</label>
		    	<textarea class="form-control" id="content" rows="5" cols="" name="content" th:text="${info.content}"></textarea>
			</div>
			<div class="mb-3">
			    <label class="form-label">Writer</label>
			    <input type="disabled" class="form-control" name="registerId" th:value="${info.registerId}" disabled>
			</div>
			<button type="submit" id="edit" class="btn btn-primary" formaction="/board/view/action">Edit</button>

			<br>
			<hr>
			<div class="mb-3">
				<label class="form-label">Comment</label>
				<textarea class="form-control" id="comment" rows="5" cols="" name="Comment"></textarea>
			</div>
			<button type="submit" id="submit" class="btn btn-primary" formaction="/comment/action">Submit</button>

			<br>
			<hr>
			<div class="card">
				<div class="card-header bi bi-chat-dots">Comments</div>
				<ul class="list-group-flush">
					<li class="list-group-item" th:each="list,index : ${comment.list}">
						<span>
							<span th:text="${index.index+1}"></span>
							<span th:text="${list.mname}"></span>
							<span th:text="${list.comment}"></span>
						</span>
					</li>
				</ul>
			</div>
		</form>
	</div>
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	const member = /*[[${member.email}]]*/;
    	const role = /*[[${member.role}]]*/;
    	const board = /*[[${info.registerEmail}]]*/;

    	if (role != "ADMIN") {
			if (member != board) {
				document.getElementById('title').disabled = true;
				document.getElementById('content').disabled = true;
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
    	}

		function fnViewDelete() {
			if (confirm("게시글을 삭제하시겠습니까?")) {
				let frm = $("#frm");
				frm.attr("action","/board/view/delete");
				frm.submit();
			}
		}
		/*]]>*/
	</script>
</body>
</html>