<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>개인 정보</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common/common.css">
  <link rel="stylesheet" href="/css/follow/follower-modal.css">
  <link rel="stylesheet" href="/css/follow/following-modal.css">
  <link rel="stylesheet" href="/css/member/member-detail.css">
  <link rel="stylesheet" href="/css/comment/modal.css">
  <link rel="stylesheet" href="/css/favorite/modal.css">
</head>
<body>
<th:block th:replace="~{fragments/common :: memberNavi(${member.email}, ${member.profile})}"></th:block>
<th:block th:replace="~{fragments/common :: notificationBanner}"></th:block>
<div class="container" th:attr="data-member-email=${member.email}">
  <form method="dialog" enctype="multipart/form-data">
    <div class="profileDiv">
      <img th:src="${member.profile}" width="200vw" height="200vw" style="border-radius: 90px" id="profile">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <h4>
        <label class="form-label" th:text="${member.name}" style="margin-right: 10px;"></label>
        <button type="button" class="btn btn-danger" onclick="fnLogout()">Logout</button>
        <button type="button" class="btn btn-danger" onclick="javascript:location.href='/member/withdrawal'">회원 탈퇴</button>
        <button type="button" class="btn btn-primary" onclick="javascript:location.href='/member/updatePassword'">Password Update</button>
        <button type="button" class="btn btn-primary" onclick="javascript:location.href='/collection'">Secret</button>
        <button th:if="${#strings.equals(member.role, 'ADMIN')}" type="button" class="btn btn-primary" onclick="javascript:location.href='/admin/administrator'">관리자 페이지</button>
        <input type="file" accept="image/*" onchange="fnLoad(this)" style="display: none" id="upload">
        <button type="button" class="btn btn-primary" id="save" style="display: none" onclick="fnSave()">사진 변경</button>
        <br>
        <br>
        <label class="form-label">Posts: </label>
        <label class="form-label" th:text="${board_count}"></label>
        <label class="form-label" th:onclick="openFollowerModal([[${member.email}]])"> Follower: </label>
        <label class="form-label" id="follower_label" th:text="${follower_count}" th:onclick="openFollowerModal([[${member.email}]])" ></label>
        <label class="form-label" th:onclick="openFollowingModal([[${member.email}]])">Following: </label>
        <label class="form-label" id="following_label" th:text="${following_count}" th:onclick="openFollowingModal([[${member.email}]])"></label>
      </h4>
    </div>
  </form>
  <div class="imgGrid"></div>
</div>
<th:block th:replace="~{fragments/board-modal :: boardModal}"></th:block>
<th:block th:replace="~{fragments/comment-modal :: commentModal}"></th:block>
<th:block th:replace="~{fragments/favorite-modal :: favoriteModal}"></th:block>
<th:block th:replace="~{fragments/follower-modal :: followerModal}"></th:block>
<th:block th:replace="~{fragments/following-modal :: followingModal}"></th:block>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/follow/followerModal.js"></script>
<script src="/js/follow/followingModal.js"></script>
<script src="/js/comment/modal.js"></script>
<script src="/js/favorite/modal.js"></script>
<script src="/js/member/boardModal.js"></script>
<script src="/js/member/detail.js"></script>
<script src="/js/common/common.js"></script>
</body>
<th:block th:replace="~{fragments/common :: pageFooter}"></th:block>
</html>
