<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Select Method</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Select</h1>
  <div class="float-left">
    <label>Do you know your email?</label>
    <button type="button" class="btn btn-primary" onclick="javascript:location.href='/member/emailFind'">Email find</button>
  </div>
  <div>
    <label>You don't know your email?</label>
    <button type="button" class="btn btn-primary" onclick="javascript:location.href='/member/emailFind'">Email find</button>
  </div>
</div>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>