<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Member Register</h1>
    <form action="/register/action" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <button type="button" id="email_check" class="btn btn-primary" style="padding-left:10px;">Duplicate Check</button>
            <button type="button" id="email_certification" class="btn btn-primary" style="padding-left: 10px; display: none;">Email Certification</button>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            <div class="form-group last mb-4 check_input" id="check" style="display: none;">
                <label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label>
                <input type="text" class="form-control" id="memailconfirm">
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number without -" required>
        </div>
        <div class="mb-3">
            <label for="birth" class="form-label">Birth</label>
            <input type="date" class="form-control" id="birth" name="birth" value="1900-01-01" max="9999-12-31" required>
        </div>
        <button type="button" class="btn btn-success" onclick="history.back(-1)">Previous</button>
        <button type="button" id="submit" class="btn btn-primary" style="display: none;">Submit</button>
    </form>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/member/register.js"></script>
</body>
</html>