<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Member Register</h1>
    <form action="/register/action" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
        </div>
        <button type="button" class="btn btn-success" onclick="history.back(-1)">Previous</button>
        <button type="button" class="btn btn-primary" onclick="fnSave()">Submit</button>
    </form>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
        function fnSave() {
            const data = {
                email: $("#email").val(),
                password: $("#password").val(),
                name: $("#name").val()
            }

            $.ajax({
                type: 'POST',
                url: '/member/register/action',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function() {
                    alert("회원가입이 완료되었습니다.");
                    location.href = "/member/login";
                },
                error: function() {
                    alert("이미 회원가입이 된 이메일입니다.");
                }
            })
        }
    /*]]>*/
</script>
</body>
</html>