<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>전화번호 재설정</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Password Update</h1>
    <label>생년월일이 1900-01-01 이거나 전화번호가 공백인 고객만 보이는 화면으로</label>
    <label>아래의 칸을 공백 없이 입력해주세요!!</label>
  <form id="frm" method="dialog">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" th:value="${email}" disabled>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" name="phone" th:value="${phone}" placeholder="Phone Number without -" required>
    </div>
    <div class="mb-3">
      <label for="birth" class="form-label">Birth</label>
      <input type="date" class="form-control" id="birth" name="birth" th:value="${birth}" max="9999-12-31" required>
    </div>
    <button type="button" id="update" class="btn btn-primary">Submit</button>
  </form>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/member/updatePhone.js"></script>
</body>
</html>