<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>비밀번호 재설정</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Password Update</h1>
  <form id="frm" method="dialog">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" th:value="${email}" disabled>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="button" class="btn btn-success" onclick="history.back(-1)">Previous</button>
    <button type="button" id="update" class="btn btn-primary">Submit</button>
  </form>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/member/updatePassword.js"></script>
</body>
</html>