<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>알림</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
</head>
<style>
    .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 700px;
          overflow: auto;
          background: white;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
      }
</style>
<body>
<th:block th:replace="~{fragments/common :: memberNavi(${member.email}, ${member.profile})}"></th:block>
<div class="container">
    <th:block th:replace="~{fragments/common :: notificationBanner}"></th:block>
    <button class="btn btn-primary" onclick="fnAllRead()">모두 읽음으로 표시</button>
    <div class="noti-group">
        <button type="button" id="admin" onclick="fnClick('ADMIN')">시스템 알림 모아보기</button>
        <button type="button" id="follow" onclick="fnClick('FOLLOW')">팔로우 알림 모아보기</button>
        <button type="button" id="favorite" onclick="fnClick('FAVORITE')">좋아요 알림 모아보기</button>
        <button type="button" id="chat" onclick="fnClick('CHAT')">채팅 알림 모아보기</button>
        <button type="button" id="comment" onclick="fnClick('COMMENT')">댓글 알림 모아보기</button>
        <button type="button" id="reply" onclick="fnClick('REPLY')">답글 알림 모아보기</button>
    </div>
    <div class="noti-div">
    </div>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/notification/list.js"></script>
<script src="/js/common/common.js"></script>
</body>
<th:block th:replace="~{fragments/common :: pageFooter}"></th:block>
</html>
