<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentModal">
  <div id="commentModal" class="comment-modal hidden">
    <div id="commentModalOverlay" class="comment-modal-overlay"></div>

    <div class="comment-modal-content">
      <button type="button" id="commentModalClose" class="comment-modal-close">×</button>
      <h4 id="commentModalTitle" class="comment-modal-title">댓글</h4>
      <div id="commentModalBody" class="comment-modal-body"></div>

      <div class="comment-modal-compose">
        <label class="form-label" id="commentModalCancel" style="display: none;">답글 달기 취소</label>
        <textarea class="form-control" id="commentModalInput" rows="2" name="Comment" placeholder="Comment"></textarea>
        <button type="button" id="commentModalSubmit" class="btn btn-primary" style="display:none;">Submit</button>
      </div>
    </div>
  </div>
</th:block>
</html>
