<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="followingModal">
    <div id="followingModal" class="following-modal hidden">
        <div id="followingModalOverlay" class="following-modal-overlay"></div>

        <div class="following-modal-content">
            <button type="button" id="followingModalClose" class="following-modal-close">×</button>
            <h4 id="followingModalTitle" class="following-modal-title">팔로잉</h4>
            <div id="followingModalBody" class="following-modal-body"></div>
        </div>
    </div>
</th:block>
</html>