.navi {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 10px;
}
.nav-icon {
    width: 50px;
    height: 50px;
}
.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}