.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav-icon {
    width: 50px;
    height: 50px;
}
.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notification-dot {
    position: relative;
    display: inline-block;
}
.notification-dot::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    transform: translate(50%, -50%);
    display: none;
}

.notification-dot.active::after {
    display: block;
}
