<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Following List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Following List</h1>
    <form action="/following/action" method="post">
        <button type="button" class="btn btn-success" onclick="history.back(-1)">Previous</button>
        <div class="card">
            <ul class="list-group-flush">
                <li class="list-group-item" th:each="list,index : ${following}">
                  <span>
                      <span th:text="${index.index+1}"></span>
                      <img th:src="@{/img/} + ${list.following.profile}" width="30vw" height="30vw" style="border-radius: 90px" id="profile">
                      <a th:href="@{/member/search/detail(email=${list.following.email})}">
                        <span th:text="${list.following.name}"></span>
                      </a>
                      <span th:text="${list.following.email}"></span>
                      <div class="float-right" th:unless="${#strings.equals(list.following.email, email)}">
                          <button type="button" th:id="'follow' + ${list.id}" th:if="${follow[list.id]}" class="btn btn-success" th:onclick="fnFollow([[${list.id}]], [[${list.following.email}]])">Unfollow</button>
                          <button type="button" th:id="'follow' + ${list.id}" th:unless="${follow[list.id]}" class="btn btn-success"th:onclick="fnFollow([[${list.id}]], [[${list.following.email}]])">Follow</button>
                      </div>
                  </span>
                </li>
            </ul>
        </div>
    </form>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/follow/follow.js"></script>
</body>
</html>